:root {
  /* COLORS */
  --primary: #FF4C60;
  --secondary: #4B4870;
  --background: #F9F9FE;
  --black: #000;
  --gray: rgba(116, 123, 133, 0.712);
  --purple: #7171e2;
  --white: #fff;

  /* FONT */
  --josefine: 'Josefin Sans', sans-serif;
  --sourceserif: 'Source Serif Pro', serif;
}

* {
  /* DEFAULT STYLES */
  background-color: var(--background);
  color: var(--secondary);
  font-family: var(--sourceserif);
  letter-spacing: 0.5px;
  transition: all .3s ease-in-out;
}

.container {
  padding: 30px 0;
}

.button {
  /* BUTTON STYLES */
  border-radius: 6px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  line-height: 24px;
  padding: 6px 12px;
}

.button-primary {
  /* PRIMARY BUTTON */
  background: var(--secondary);
  color: var(--white);
}

.button-primary:hover {
  background: var(--primary);
  color: var(--white);
}

.button-dangerous {
  /* DANGEROUS BUTTON */
  background: var(--primary);
  color: var(--white);
}

.btn-update,
.btn-delete {
  /* UPDATE/DELETE BUTTONS */
  cursor: pointer;
}

.form-control {
  box-shadow: 0 3px 12px -1px rgb(7 10 25 / 10%), 0 22px 27px -30px rgb(7 10 25 / 10%);
}

.form-control:focus {
  border-color: var(--gray);
  box-shadow: 0 3px 12px -1px rgb(7 10 25 / 10%), 0 22px 27px -30px rgb(7 10 25 / 10%);
}

/* HEADER */
.title {
  /* PAGE TITLE */
  color: var(--secondary);
  font-family: var(--josefine);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.sub-title {
  /* SUBTITLE */
  color: var(--secondary);
  font-family: var(--josefine);
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

/* MAIN */
.table {
  /* TABLE */
  background: var(--white);
  box-shadow: 0 3px 12px -1px rgb(7 10 25 / 10%), 0 22px 27px -30px rgb(7 10 25 / 10%);
  text-align: center;
}

.table thead th {
  /* TABLE HEADER */
  font-family: var(--josefine);
  font-size: 16px;
}

.table tbody td {
  /* TABLE BODY */
  font-size: 14px;
}

.table td i:hover {
  /* TABLE CELL ICON */
  color: var(--primary);
}

/* FOOTER */
.social-media {
  font-size: 24px;
}

.social-media a i:hover {
  color: var(--primary);
}